<section class='wiki'>
	<div style='border-bottom:1px solid gray;'>
		<%= convert(wiki.text) %>
	</div>
	<div style='text-align:right'>
		< rev.<%= wiki.rev %> > |
		<%= wiki.editor %>
	</div>
</section>