<%= javascript_include_tag "jquery","image" %>

<% for i in @images %>
<div style='float:left;width:350px'>
<%= i.comment %>
<input type='button' value='capy clipbord' fileid='<%= i.id %>' class='button_img_select' ><br/>
<%= image_tag i.upload.url(:original), {class: "img_check", width: 350} %><br/>

</div>
<% end %>