table {
	margin: 5px;
	border: 1px dotted gray;
	border-collapse:collapse;
	
	td,th {
		border: 1px dotted gray;
		padding: 3px;
	}
}

section.wiki {
	border: 1px solid black;
	border-radius: 5px;
	margin: 5px 0px 5px 0px;
	padding: 10px;
}

#dialog_file_upload {
	display:none;
}

.div_fragment {
    margin: 1px 5px 1px 10px;
    padding: 0px;

    .div_fragment_top {
      border-bottom: 1px dashed black;
      text-decoration: bold;
      margin: 5px;
    }
    .div_fragment_body {
      margin: 5px;
    }
}