// Place all the styles related to the wiki controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#dialog_todo_update {
	display:none;
}


#div_form_task, #div_select_image, #div_form_project {
	display:none;
}


.sub_content {
	display:-webkit-box;
	-webkit-box-pack:justify
}